aside,article,section,header,footer,nav {
	display: block;
}

html,body,div,h1,h2,h3,p {	
	margin: 0;
	padding: 0;		
	font-family: Times, Times New Roman, serif;
}

@media only screen and (max-width: 480px) {
body {
	background-color: #404040;
	font-size: .8em;
}

header {	
	margin: 0;
	height: 50px;	
	
}

#logo-container {		
	margin: 0 0 15px 0;
	padding: 5% 0;	
	height: 152px;		
}

#logo {		
	margin: 0 auto;
	width: 142px;
	height: 142px;		
	background-image:url('../images/twitter-bird-dark-bgs-SMALL.png');
	background-repeat: no-repeat; 	
}

.input-parent {		
	margin: 0 0 15px 0;		
}

.input-child {	
	width: 345px;
	margin: 0 auto;	
}

.input-field {	
	width: 345px;
	height: 35px;	
	border-radius: 10px;
}

.submit-parent {			
}

.submit-child {
	border: 3px black solid;
	margin: 0 auto;
	width: 135px;
	height: 35px;	
}



/* Targets Search_page3.php */
#header-result {
	margin: 0;
	height: 100px;
}

#container-result {
	
}

section#content-container {
	background-color: #fff;
}

#user-summary {	
}

#profile-image-parent {	
	margin: 15px 0 0 0;	
}

#profile-image-child {		
	margin: 15px auto 7.5px auto;	/* not working 100% */
	width: 48px;
	height: 48px;
}

#real-name {	
	margin: 0;
	font-size: 1.2em;
	font-weight: bold;	
	text-align: center;
}

#screen-name {	
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}

#description {
	margin: 0 10px 0 10px;
	font-size: 1em;	
	text-align: center;
}

#friend-follower-container {		
	margin: 0 0 15px 0;
	font-size: 1em;
	text-align: center;	
}

#friend-count {
	display: inline;
	margin: 0 2px 0 0;	
}

#follower-count {
	display: inline;
	margin: 0 0 0 2px;	
}

#user-timeline {
	margin: 10px;
}

#user-favorites {
	margin: 10px;
}


}

@media only screen and (min-width: 481px) and (max-width: 768px) {
body {
	font-size: 1em;
}
p {
	width: 95%;
	padding: 40px;	
	color: white;
	background: rgb(115, 160, 88);
}
}

@media only screen and (min-width: 769px) {
body {
	font-size: 1.2em;
}
#container-home {	
	position: absolute;
	margin-top: -20px;	
	background-color: black;
	height: 660px;
	width: 100%;	
}

#content-home {
	position: relative;
	margin: 122.5px auto;
	background-color: black;
	width: 500px;	
	height: 310.5px;
	
}

#bird {			
	float: left;
	width: 38.2%;
	height: 100%;
	background-image:url('../images/twitter-bird-dark-bgs-200x200.png'); 
	background-repeat: no-repeat;	
	border-radius: 20px 0 0 20px;
}

#form-home {	
	float: right;
	width: 60%;
	height: 100%;	
	background-color: #4099FF;		
}

#input-home {
	padding: 30px 30px 15px 40px;	
}

#submit-home {
	padding: 0px 30px 30px 40px;
}

.input-field {
	width: 200px;
	height: 40px;
}

.button {
	width: 200px;
	height: 40px;	
	color: white;
	background-color: black;
}



/* search_page3.php */
#container-result {
	position: absolute;
	margin-top: -20px;	
	background-color: white;
	height: 660px;
	width: 100%;	
}

#content-result {
	position: relative;
	margin: 20px auto;
	background-color: #999999;
	width: 800px;		
	height: 1400px;
	padding: 20px;
}


#stackit {				
		width: 800px;				
		height: 200px;		
}

#profile-image {	
	text-align: center;	
}

#name {	
	font-size: 20px;
	text-align: center;
}

#screen-name {	
	font-size: 16px;		
	text-align: center;
}


#description {
	font-size: 16px;
	text-align: center;
}

#friend-count {
	
}

#follower-count {
	
}


}